// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #1C113C;
  --ion-text-color: #F5F2FB;
  --ion-font-family: 'Geologica', sans-serif;
  --ion-font-family-text: 'Inter', sans-serif;

	--ion-color-primary: #533BEB;
	--ion-color-primary-rgb: 83,59,235;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #4934cf;
	--ion-color-primary-tint: #644fed;

	--ion-color-secondary: #FF5189;
	--ion-color-secondary-rgb: 255,81,137;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e04779;
	--ion-color-secondary-tint: #ff6295;

	--ion-color-tertiary: #2F76FF;
	--ion-color-tertiary-rgb: 47,118,255;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #2968e0;
	--ion-color-tertiary-tint: #4484ff;

	--ion-color-success: #0E9061;
	--ion-color-success-rgb: 14,144,97;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #0c7f55;
	--ion-color-success-tint: #269b71;

	--ion-color-warning: #FACE33;
	--ion-color-warning-rgb: 250,206,51;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dcb52d;
	--ion-color-warning-tint: #fbd347;

	--ion-color-danger: #E64A48;
	--ion-color-danger-rgb: 230,74,72;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #ca413f;
	--ion-color-danger-tint: #e95c5a;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;
}
