<ion-content>
  <div class="centered-container">

    <h1>
      <img class="ion-margin app-logo" src="assets/artworks/full-logo.svg" alt="Talismã">
    </h1>

    <div class="ion-margin-horizontal card-container">
    <button routerLink="/prepare" class="ion-activatable button-card button-card-primary">
      <ion-ripple-effect></ion-ripple-effect>
      <img src="assets/artworks/dice.png" alt="" class="floating-artwork">
      <div class="icon-container">
        <ion-icon class="icon" name="arrow-forward-circle" color="light" size="large"></ion-icon>
      </div>
      <h2>Lançar o dado</h2>
      <p>Comece por aqui para jogar.</p>
    </button>

    <button routerLink="/history" class="ion-activatable button-card button-card-blue">
      <ion-ripple-effect></ion-ripple-effect>
      <img src="assets/artworks/backward-dynamic-clay.png" alt="" class="floating-artwork">
      <h2>Histórico</h2>
    </button>

    <button routerLink="/settings" class="ion-activatable button-card button-card-pink">
      <ion-ripple-effect></ion-ripple-effect>
      <img src="assets/artworks/setting-dynamic-clay.png" alt="" class="floating-artwork">
      <h2>Ajustes</h2>
    </button>

    <button routerLink="/debug" class="ion-activatable button-card button-card-purple">
      <ion-ripple-effect></ion-ripple-effect>
      <img src="assets/artworks/tool-dynamic-clay.png" alt="" class="floating-artwork">
      <h2>Depuração</h2>
    </button>

    </div>
    
  </div>
</ion-content>
